<!DOCTYPE html>
<html>

<head>
    <title>Craig CV</title>
</head>

<body>

<h1>Craig Wu</h1>

<h2>Contact Details</h2>
<ul>
    <li>Cell: 073 273 5775</li>
    <li>Email: craigywu@gmail.com</li>
    <li>Location: Johannesburg, South Africa</li>
    <li><a target = "_blank" href = "https://www.linkedin.com/in/craig-wu-7825a3a0">LinkedIn</a></li>
    <li><a target = "_blank" href = "https://github.com/CraigWu91">GitHub</a></li>
</ul>

<h2>Summary</h2>
<p>Aspiring software engineer seeking a career change from sales to software engineering. Passionate about all things data, analytics and programming.
Currently completing HyperionDev software engineering bootcamp</p>

<h2>Skills</h2>
<table>
    <tbody>
        <tr>
            <td>Python</td>
            <td>SQL</td>
        </tr>
        <tr>
            <td>Power BI</td>
            <td>HTML | CSS</td>
        </tr>
    </tbody>
</table>


<h2>Education</h2>
<ul>
    <li>Bachelor of Commerce(Bcom) with Honours, Business Science: Management - University of the Witwatersrand - 2015</li>
    <li>Bachelor of Commerce(Bcom), Management - University of South Africa - 2014</li>
</ul>

<h2>Experience</h2>
<p>Promotion from sales rep to sales manager in 2019 and opportunity to work at 2 companies simultaneously.
Responsible for end-to-end software sales and partnership process</p>
<ul>
    <li>Pre-Sales</li>
    <li>Sales</li>
    <li>Partnerships</li>
    <li>CRM</li>
    <li>Customer POC setup and support</li>
</ul>

</body>

</html>